.indomie:link,.indomie:visited{
    text-decoration:none;
    color:black;
    border:transparent;
    border-style:outset;
}

.indomie:hover,.indomie:active{
    color:orange;
    border-style:inset;
    box-shadow: 7px 13px  14px gray;

}


